{include file='public/_head'/}
<!-- Main Container -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">

        {include file='public/_left'/}
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>&nbsp;专业管理
                    </li>
                    <li>专业添加</li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->
            <!-- Page Body -->
            <div class="page-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="widget radius-bordered">
                            <div class="widget-header bordered-bottom bordered-themeprimary">
                                <span class="widget-caption">专业添加</span>
                            </div>
                            <div class="widget-body">
                                <form action="" class="form-horizontal">
                                    <div class="form-group">
                                        <label for="college" class="control-label col-sm-2">添加专业名称</label>
                                        <div class="col-sm-6 col-lg-4">
                                            <input type="text" class="form-control" id="college" name="college" placeholder="填写名称" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="account" class="control-label col-sm-2">添加专业描述</label>
                                        <div class="col-sm-6 col-lg-4">
                                            <input type="text" id="account" name="account" class="form-control" placeholder="填写描述">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-6 col-lg-4">
                                            <button type="submit" class="btn btn-primary" id="adminAdd">添加</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->

    </div>
    <!-- /Page Container -->
    <!-- Main Container -->

</div>

{include file='public/_js'/}
<script>
    $(function () {
        $("#adminAdd").click(function () {
            $.ajax({
                url:"{:url('index/college/add')}",
                type:'post',
                data:$('form').serialize(),
                dataType:'json',
                success:function (data) {
                    if(data.code == 1){
                        layer.msg(data.msg,{
                            icon:6,
                            time:2000
                        },function () {
                            location.href = data.url;
                        })
                    }else{
                        layer.open({
                            title:'添加失败',
                            content:data.msg,
                            icon:5,
                            anim:6
                        })
                    }
                }
            });
            return false;
        })
    })
</script>
</body>
<!--  /Body -->
</html>
